<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <br>
  <ion-title style="text-align: center;"><h3><b style="background-color: rgb(138, 145, 148);">เกี่ยวกับฉัน</b></h3></ion-title>
  <p style="text-indent: 5%;">นางสาว ศศิธร พวงพิน</p>
  <p style="text-indent: 5%;">เกิดวันเสาร์ที่ 28 มกราคม พ.ศ.2549</p>
  <p style="text-indent: 5%;">งานอดิเรก:ฟังเพลง , ดูอนิเมะ , ดูซีรีส์</p>
  <p style="text-indent: 5%;">สีที่ชอบ : ดำ ม่วง แดง</p>
 
</ion-content>